

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    font-size: 21px; 
    font-weight: 450;    
    
}

body{
    background-image: url('/ressources/images/booki_desktop.png');
    /*background-color: var(--grey); */
}

:root {
    --blue: #0065FC;
    --blue-light: #DEEBFF;
    --grey:#F2F2F2;
    --dk-grey: #d9d9d9;
  }
  

.blue{
    color: var(--blue);
}
.dk-grey{
    color: var(--dk-grey);
}


#bloc
{
    width: 96.5vw;    
    padding-left: 3.5vw; 
    padding-top: 1.4vh;   
}

h1 {
    font-size: 3.11vh;
    font-weight: 700;
}
  
h2 {
    font-size: 3.11vh;
    font-weight: 700;
}

h3 {
    font-size: 22px;
    font-weight: 700;
    
} 

.row{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;       
}



/* header css */
header {    
    margin-top: 0;  
    display: flex;        
    flex-wrap: wrap;      
    box-sizing: border-box;
             
}  

.navbar{
    width:23.3vw;
    margin:0;
    display: flex;      
}

 a{
    padding-top: 6.9vh;
    color:black;
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 0;   
    text-align: center;
    font-size: 21.5px; 
    font-weight: 450;
}


.logo{
    transform: scale(0.68);
    padding-top:5.7vh;
    padding-right: 20vw;
}

/* section recherche  css */
#recherche{
    padding-left: 0.35vw;    
}

input, button, span{
    font-size: 2.5vh;
    font-weight: 700;    
}

.form-group{
    display:flex;
    align-items: center;    
    margin-top: 3vh;
    margin-bottom: 4.2vh;    
}

#here {
    background-color: var(--dk-grey);
    color: black;
    border-radius:  18px 0 0 18px;       
    padding: 20px;
    position: relative;
    left: 5px;
    outline: none;
    border: none;
}


.search input{    
    padding: 18px 27px ;
    border-top: 2px solid var(--dk-grey);
    border-right: none;
    border-bottom: 2px solid var(--dk-grey);
    border-left: none;
    
}

.search ::placeholder{
  color: black;  
}

#bouton {
    background-color: var(--blue);
    border-radius: 0 20px 20px 0;
    color: white;    
    padding: 20px;
    position: relative;
    right:5px;
    outline: none;
    border: none;
    cursor: pointer;    
  }

  #bouton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.308), 0 17px 50px 0 rgba(0, 0, 0, 0.349);
    opacity: 0.8;
  } 
  
  /* Filtres css */
#filtres{
    padding-left: 0.5vw;  
  }


.btn{
    border: 2px solid var(--dk-grey);
    border-radius: 40px;
    padding:18px 25px 18px 80px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: transparent;
  }

 
.btn:hover {
    background-color:var(--blue);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.171), 0 17px 50px 0 rgba(0, 0, 0, 0.199);
    opacity: 0.8;
  }

  .round-icon{
    position: absolute;
    z-index: 2;  
    width:52px;
    height: 52px;       
    padding: 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--blue-light);
  }

.info{
    padding-top: 5vh;
    display: flex; 
}

.info p{
    padding-left: 25px;
}

.fa-info-circle{
    background-color:var(--blue);
    color:white;
    border: 3px var(--dk-grey) solid;
    border-radius: 50%;
}

  /*section hébergement css */

#hebergements {
    justify-content: space-between;
}

.container {
    /*background-color: var(--dk-grey);  */ 
    border-radius: 20px;
    padding: 3%;
    margin-top: 3%;
}

#main{
    width: 65%;
}

aside{
    width:31.5%;
}

.card-top {
display: block;
background-color: #ffff;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.048);
width: 320px;
height: 250px;
border-radius: 20px;
border: 5px #ffff solid;
margin-right: 4%;
margin-top: 3%;
margin-bottom: 3%;
}

.img-top{
    border-radius: 20px 20px 0px 0px ;
    height: 150px;
    position: relative;
    overflow: hidden;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100px;
}


/*section popular css */
aside{
    padding-left: 3%;
}

#popular{   
    justify-content: space-between;
    align-items: center;
}

.card-aside{
    display: flex;
    flex-direction: row; 
     
    background-color: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.048);
    max-width: 100%;    
    margin-top: 7%;
    margin-bottom: 10%;    
    border-radius: 20px;
    border: 5px #ffff solid;  
}

.img-left{
    border-radius: 20px 0px 0px 20px;     
    height: 180px;
    position: relative;
    overflow: hidden;   
}

#card1{
    object-fit: cover;
}
#card2{
    object-fit: contain;
}
#card3{
    object-fit: none;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/*section hébergement css */



  /* footer css */
footer{
    margin-top: 0;  
    display: flex;        
    flex-wrap: wrap;     
    box-sizing: border-box;
    background-color: var(--grey);
    padding-left: 3%;
    align-items: center;
}


footer li{
    list-style-type: none; /* Remove bullets */
}

/* pour les ordinateurs */
@media all and (min-width: 992px)
{
    h1{
        line-height: 0.4;
    }

   header{
    justify-content: space-between;
   } 
   
   a:hover{
    color: var(--blue);   
    border-top: 4px var(--blue) solid;
    padding-top: 6.3vh;    
    }

    .search input{
        width: 16.6vw;
    }
    #bouton{
        width: 9.2vw;
    }

    #search-icon{
        display: none;
     }
     
    #filtres{
        padding-left: 0.5vw;    
        display: flex;
        align-items: center;    
        flex-wrap: wrap;
    }
    
    .filter{
        padding: 0px 20px;    
    }

    .round-icon{
        top: 38.5vh; 
    }

    .info{
        flex-wrap: wrap;  
        align-items: center; 
    }
}


/* pour les tablettes */
@media all and (max-width: 1024px)
{
    header{
        justify-content: space-evenly;        
    }
    .navbar {
        width:50%;
    }
    #search-word{
        display: none;
     }
   
    .filter{
        margin:5px;
    }
}


/* pour les smartphones */
@media all and (max-width: 767px)
{
    h1 {
        font-size: 3.7vh;
        font-weight: 700;
    }
      
    h2 {
        font-size: 3.7vh;
        font-weight: 700;
    }
    
    h3 {
        font-size: 20px;
        font-weight: 700;        
    } 

    p{
        font-size: 16px;
    }

    input, span{
        font-size: 2.5vh;
        font-weight: 900;    
    }
    button{
        font-size: 16px;
        font-weight: 900;
    }

    header {                
        flex-direction: column;
        text-align: center;         
    } 

    .navbar {
        width:100%;        
    }

    .navbar a{
        border-bottom: 4px var(--dk-grey) solid;
    }

    .navbar a:hover{
        color: var(--blue);   
        border-bottom: 4px var(--blue) solid;
        padding-bottom: 6.3vh;        
    }

    #bloc
    {
        width: 100vw;    
        padding: 20px;         
    }
        
    #here{
        position: absolute;
        left: 20px;       
    }

    .search input{
        position: relative;
        left: 55px;
        padding: 20px;
        z-index: 1;
    }

    #bouton{
        border-radius: 20px;
        position: absolute;
        right: 40px;
        z-index:2;
        font-size: 10px;
    }

    #search-word{
       display: none;      
    }
    
    .row{
        justify-content: space-between;          
    }    

    .filter{
        margin:3px;
    }

    .round-icon{
         
        padding: 15px;
    }
        
    .btn{
        border: 2px solid var(--dk-grey);
        border-radius: 40px;
        padding:15px 15px 15px 60px;
    }

    .info p{
        padding-left: 5px;
    }

    footer{
        flex-direction: column; 
        width: 100%;       
    }


}



