

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    font-size: 21px; 
    font-weight: 450; 
    line-height: 1.2;  
    
}

body{
    background-image: url('/ressources/images/booki_desktop.png');
}

:root {
    --blue: #0065FC;
    --blue-light: #DEEBFF;
    --grey:#F2F2F2;
    --dk-grey: #d9d9d9;
  }
  

.blue{
    color: var(--blue);
}
.dk-grey{
    color: var(--dk-grey);
}


#bloc
{
    width: 96.5vw;    
    padding-left: 3.5vw;
    padding-top: 1.5vh;
}

h1 {
    font-size: 3vh;
    font-weight: 700;
    line-height: 0.4;    
    
}
  
h2 {
    font-size: 3vh;
    font-weight: 700;
    
}
  
h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.row{
    display: flex;        
    flex-wrap: wrap;  
}


.container {
    background-color: var(--grey);    
    border-radius: 20px;
    padding: 30px;
}

/* header css */
header {    
    margin-top: 0;  
    display: flex;        
    flex-wrap: wrap;      
    box-sizing: border-box;
}  
.navbar{
    padding-top: 2.8vh;
    width:24vw;
}
ul {
    margin:0;
    display: flex;
    flex-direction: row;
}
header li{
    list-style: none;
    flex-grow:1;
    flex-basis: 0;
    padding: 1.9vw;
    margin-left: 0.7vw;
}

li a{
    color:black;
    text-decoration: none;
  
}

li a:hover {
    color: var(--blue);   
    border-top: 4px var(--blue) solid;
    padding-top: 6.3vh;
}

.logo{
    transform: scale(0.68);
    padding-top:5.5vh;
    padding-right: 20vw;
}

/* section recherche  css */
#recherche{
    padding-left: 0.35vw;
}
.search {
    background-color: var(--blue);
    color: white;    
    padding: 5px;
  }

  /*section hébergement css */

.card {
display: block;
background-color: #ffff;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.048);
max-width: 30%;
margin:;
border-radius: 20px;
border: 5px #ffff solid;

}
.img-top{
    border-radius: 20px 20px 0px 0px ;
    
}

/*section popular css */
#popular{   
    justify-content: space-between;
}

aside .card{
    display: flex;
    background-color: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.048);
    max-width: 100%;    
    margin: auto;
    border-radius: 20px;
    border: 5px #ffff solid;  
}

.img-left{
    border-radius: 20px 0px 0px 20px ;
    
}

/*section hébergement css */



  /* footer css */
footer{
    margin-top: 0;  
    display: flex;        
    flex-wrap: wrap;     
    box-sizing: border-box;
    background-color: var(--grey);
    padding-left: 3%;  
}


footer li{
    list-style-type: none; /* Remove bullets */
}

/* pour les smartphones */
@media all and (max-width: 767px)
{
    header {                
        flex-direction: column;
        text-align: center; 
        
    } 
    
    footer{
        flex-direction: column; 
        width: 100%;       
    }


}

/* pour les tablettes */
@media all and (max-width: 991px)
{

}


/* pour les ordinateurs */
@media all and (min-width: 992px)
{
    header {
        justify-content: space-between;
        flex-wrap: wrap;    
    }

    footer{
        align-items: center;
    }  
}